.button {
    position: relative;
    font-size: 1rem;
    color: var(--white);
    font-weight: var(--font-weight-medium);
    border-radius: var(--radius);
    padding: 0.6rem 1.6rem;
    border: none;
    cursor: pointer;
    overflow: hidden;
    background-color: transparent;
    white-space: nowrap;
    transition: opacity 0.3s ease-in, transform 0.3s ease-in;
    min-width: 7rem;
    max-width: fit-content;

    &::after, &::before {
        position: absolute;
        inset: 0 0 0 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        transition: opacity 0.3s ease-in;
        content: '';
    }

    &::after {
        background: var(--main-linear);
    }

    &::before {
        background: var(--main-linear-reversed);
    }

    &:hover::after {
        opacity: 0;
    }

    &:disabled {
        opacity: 0.5;
    }

    &:active {
        transform: scale(0.95);
    }
}
